<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saerok.ch.order.mapper.OrderMapper">

   <resultMap id="OrderListResultMap"
      type="com.saerok.ch.order.model.dto.OrderList">
      <result property="orderId" column="ORDER_ID" />
      <result property="branchName" column="BRANCH_NAME" />
      <result property="orderDate" column="ORDER_DATE" />
      <result property="totalQuantity" column="TOTAL_QUANTITY" />
      <result property="totalAmount" column="TOTAL_AMOUNT" />
      <result property="orderStatus" column="ORDER_STATUS" />
   </resultMap>

   <resultMap id="OrderListDetailResultMap"
      type="com.saerok.ch.order.model.dto.OrderListDetail">
      <result property="orderDetailId" column="ORDER_DETAIL_ID" />
      <result property="orderId" column="ORDER_ID" />
      <result property="itemId" column="ITEM_ID" />
      <result property="itemName" column="ITEM_NAME" />
      <result property="itemCategory" column="ITEM_CATEGORY" />
      <result property="itemPrice" column="ITEM_PRICE" />
      <result property="quantity" column="QUANTITY" />
      <result property="branchNo" column="BRANCH_NO" />
      <result property="totalPrice" column="TOTAL_PRICE" />

   </resultMap>


   <select id="findAllOrderLists" resultMap="OrderListResultMap">
      SELECT
      ol.ORDER_ID,
      b.BRANCH_NAME,
      ol.ORDER_DATE,
      SUM(ol_d.QUANTITY) AS TOTAL_QUANTITY,
      SUM(ol_d.QUANTITY * i.ITEM_PRICE) AS TOTAL_AMOUNT,
      ol.ORDER_STATUS
      FROM
      ORDER_LIST ol
      JOIN BRANCH b ON ol.BRANCH_NO = b.BRANCH_NO
      LEFT JOIN
      ORDER_LIST_DETAIL ol_d ON ol.ORDER_ID = ol_d.ORDER_ID
      LEFT JOIN ITEM i
      ON ol_d.ITEM_ID = i.ITEM_ID
      GROUP BY ol.ORDER_ID, b.BRANCH_NAME,
      ol.ORDER_DATE, ol.ORDER_STATUS
      ORDER BY
      CASE WHEN ol.ORDER_STATUS =
      '대기중' THEN 0 ELSE 1 END,
      ol.ORDER_ID DESC
   </select>

   <!-- 특정 발주리스트에 대한 상세 발주리스트 조회 -->
   <select id="findOrderDetailsByOrderId"
      resultMap="OrderListDetailResultMap">
      SELECT
      od.ORDER_DETAIL_ID,
      od.ORDER_ID,
      od.ITEM_ID,
      i.ITEM_NAME,
      i.ITEM_CATEGORY,
      i.ITEM_PRICE,
      od.QUANTITY,
      i.ITEM_PRICE * od.QUANTITY AS TOTAL_PRICE, 
      ol.BRANCH_NO
      FROM ORDER_LIST_DETAIL od
      JOIN ITEM i ON od.ITEM_ID = i.ITEM_ID
      JOIN ORDER_LIST ol ON od.ORDER_ID = ol.ORDER_ID
      WHERE od.ORDER_ID = #{orderId}
      ORDER BY od.ORDER_DETAIL_ID
   </select>


   <update id="updateOrderStatus">
      UPDATE ORDER_LIST
      SET ORDER_STATUS = #{status}
      WHERE
      ORDER_ID = #{orderId}
   </update>


   <select id="findOrderStatusByOrderId" resultType="string">
      SELECT
      ORDER_STATUS
      FROM ORDER_LIST
      WHERE ORDER_ID = #{orderId}
   </select>
   
   
   
   
   <!-- 지점전용 -->
   
   <!-- 지점주의 발주 목록 조회 -->
   <select id="findBranchOwnerOrderLists" parameterType="java.util.Map" resultMap="OrderListResultMap">
       SELECT
           ol.ORDER_ID,
           b.BRANCH_NAME,
           ol.ORDER_DATE,
           SUM(ol_d.QUANTITY) AS TOTAL_QUANTITY,
           SUM(ol_d.QUANTITY * i.ITEM_PRICE) AS TOTAL_AMOUNT,
           ol.ORDER_STATUS
       FROM ORDER_LIST ol
       JOIN BRANCH b ON ol.BRANCH_NO = b.BRANCH_NO
       JOIN EMPLOYEE e ON b.EMP_NO = e.EMP_NO
       LEFT JOIN ORDER_LIST_DETAIL ol_d ON ol.ORDER_ID = ol_d.ORDER_ID
       LEFT JOIN ITEM i ON ol_d.ITEM_ID = i.ITEM_ID
       WHERE e.EMP_NO = #{empNo}
       GROUP BY ol.ORDER_ID, b.BRANCH_NAME, ol.ORDER_DATE, ol.ORDER_STATUS
       ORDER BY CASE WHEN ol.ORDER_STATUS = '대기중' THEN 0 ELSE 1 END, ol.ORDER_ID DESC
   </select>
   



</mapper>