<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="commute">

   <resultMap id="commuteMap" type="commute">
      <id property="commuteNo" column="COMMUTE_NO" />
      <result property="inDtime" column="IN_DTIME" />
      <result property="outDtime" column="OUT_DTIME" />
      <result property="inTime" column="IN_TIME" />
      <result property="outTime" column="OUT_TIME" />
      <result property="lateYN" column="LATE_YN" />
      <result property="status" column="STATUS" />
      <result property="overtime" column="OVERTIME" />
      <result property="workingDay" column="WORKINGDAY" />
      <result property="empNo" column="EMP_NO" />

   </resultMap>

 <select id="selectCommuteList" parameterType="map" resultMap="commuteMap">
    SELECT *
    FROM COMMUTE
    WHERE EMP_NO = #{empNo}
      AND TO_DATE(WORKINGDAY,'YY-MM-DD') = TO_DATE(#{time}, 'YY-MM-DD')
</select>

   <select id="selectCommuteWorkList" parameterType="map"
      resultMap="commuteMap">
      SELECT min(IN_DTIME) as in_dtime
      , max(OUT_DTIME) as out_dtime
      FROM COMMUTE
      WHERE EMP_NO = #{empNo}
      AND TRUNC(WORKINGDAY)=TO_DATE(#{time},'YY-MM-DD')
   </select>

   <select id="selectExsistWorkInList" parameterType="map"
      resultMap="commuteMap">
      SELECT * FROM COMMUTE WHERE EMP_NO=#{empNo}AND
      TRUNC(WORKINGDAY)=TO_DATE(#{time},'YY-MM-DD')
      AND IN_DTIME IS NOT NULL
   </select>

   <insert id="insertCommuteStatus" parameterType="map">
      insert into
      commute
      values(
      commute_SEQ.NEXTVAL,
      sysdate,
      null,
      null,
      '10',
      0,
      default,
      #{empNo},
      0
      )
   </insert>

<update id="updateCommuteEndTime" parameterType="map">
		UPDATE COMMUTE
		SET
		OUT_DTIME = SYSTIMESTAMP,
		STATUS=#{status}
		WHERE EMP_NO = #{empNo} AND
		TO_CHAR(SYSDATE,'YYYY-MM-DD')
		=TO_CHAR(WORKINGDAY,'YYYY-MM-DD') AND
		OUT_DTIME IS NULL
		<selectKey keyProperty="outdtime" resultType="date">
			SELECT
			OUT_DTIME FROM COMMUTE
			WHERE EMP_NO = #{empNo} AND
			TO_CHAR(SYSDATE,'YYYY-MM-DD')
			=TO_CHAR(WORKINGDAY,'YYYY-MM-DD')
		</selectKey>
	</update> 
<update id="updateStartWork" parameterType="map">
      update
      commute
      set
      in_Dtime = null
      where
      emp_No = #{empNo}
      and TRUNC((TO_DATE(WORKINGDAY, 'YYYY-MM-DD')) = TO_DATE(#{time},'YYYY-MM-DD')
   </update>

<update id="updateWorkTime" parameterType="map">
      UPDATE COMMUTE SET
      WORKINGHOURS =TO_DATE(#{daytime},'YYYY-MM-DD')
      OVERTIME =TO_DATE(#{overtime},'YYYY-MM-DD')
      WHERE EMP_NO=#{empNo} AND
      TRUNC(TO_DATE(WORKINGDAY, 'YYYY-MM-DD'))=TO_DATE(#{time},'YYYY-MM-DD')
   </update> 

   <update id="updateHalfDayOff" parameterType="map">
      update commute
      set
      workingHours =
      <choose><!-- 만약 근무시간 + 4시간이 8시간보다 크면 연장시간을 추가 -->
         <when test="daytime + 14400000 > 28800000">28800000</when>
         <otherwise>#{daytime + 14400000}</otherwise>
      </choose>
      ,
      overtime =
      <choose>
         <when test="daytime + 14400000 > 28800000">#{daytime + 14400000 - 28800000}</when>
         <otherwise>#{overtime}</otherwise>
      </choose>
      where
      emp_no = #{empNo} AND TRUNC(TO_DATE(WORKINGDAY, 'YYYY-MM-DD'))= TO_DATE(#{time},'YYYY-MM-DD')
   </update>


   <select id="selectMonthWork" parameterType="map"
      resultMap="commuteMap">
      SELECT * FROM COMMUTE WHERE TO_DATE(WORKINGDAY, 'YYYY-MM-DD')  LIKE '%' || TO_DATE(#{date},'YYYY-MM-DD')
      || '%' AND
      EMP_NO=#{empNo}
   </select>

   <select id="selectWeekWorkTime" parameterType="map"
      resultType="_int">
      SELECT NVL(SUM(workingHours), 0)
      FROM commute
      WHERE EMP_NO= #{empNo}
      AND TO_DATE(WORKINGDAY, 'YYYY-MM-DD')  BETWEEN TO_DATE(#{start}, 'YYYY-MM-DD') AND
      TO_DATE(#{end}, 'YYYY-MM-DD')
   </select>

      
   <select id="selectWeekOverTime" parameterType="map"
      resultType="_int">
      SELECT NVL(SUM(OVERTIME), 0) AS TOTAL_OVERTIME
      FROM COMMUTE
      WHERE EMP_NO = #{empNo} AND TO_DATE(WORKINGDAY, 'YYYY-MM-DD')  BETWEEN TO_DATE(#{start},'YYYY-MM-DD') AND TO_DATE(#{end},'YYYY-MM-DD')
   </select>

   <select id="selectWeekDatas" parameterType="map"
      resultMap="commuteMap">
      SELECT *
      FROM COMMUTE WHERE EMP_NO=#{empNo}AND WORKINGDAY
      BETWEEN TO_DATE(#{start},'YYYY-MM-DD') AND TO_DATE(#{end},'YYYY-MM-DD')+1 ORDER BY WORKINGDAY
   </select>

   <select id="weekTotalTime" parameterType="map" resultType="_int">
      SELECT NVL(SUM(workingHours),0)
      FROM commute
      WHERE emp_no = #{empNo}
      AND TO_DATE(WORKINGDAY, 'YYYY-MM-DD') BETWEEN TO_DATE(#{start},'YYYY-MM-DD') AND TO_DATE(#{end},'YYYY-MM-DD') + 1
   </select>
   
   <select id="totalMonthTime" parameterType="map"
      resultType="_int">
      SELECT NVL(SUM(workingHours),0) FROM COMMUTE WHERE  TO_DATE(WORKINGDAY, 'YYYY-MM-DD') LIKE '%'
      || TO_DATE(#{monthTime},'YYYY-MM-DD') || '%' AND EMP_NO=#{empNo}
   </select>
   
   <select id="monthOverTime" parameterType="map" resultType="_int">
      SELECT NVL(SUM(OVERTIME), 0)
      FROM COMMUTE
      WHERE TO_DATE(WORKINGDAY, 'YYYY-MM-DD') = TO_DATE(#{monthTime},'YYYY-MM-DD')
      AND EMP_NO = #{empNo}
   </select>

</mapper>

