<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!-- 지혜 -->
	<typeAliases>
		<typeAlias alias="emp" type="com.saerok.jh.employee.model.dto"/>
	</typeAliases>

</configuration>
