<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
    	<setting name="jdbcTypeForNull" value="NULL" />
    </settings>
    
	<typeAliases>
		<!-- 지혜 -->
		<typeAlias alias="emp" type="com.saerok.jh.employee.model.dto.Employee" />
		
		
		<!-- 지영  -->
		<typeAlias alias="schedule" type="com.saerok.jy.schedule.dto.Schedule"/>
		<typeAlias alias="commute" type="com.saerok.jy.commute.dto.Commute"/>
	
	</typeAliases>
</configuration>