<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
    	<setting name="jdbcTypeForNull" value="NULL" />
    </settings>
    
	<typeAliases>
		<!-- 지혜 -->
		<typeAlias alias="emp" type="com.saerok.jh.employee.model.dto.Employee" />
		
		
		<!-- 지영  -->
		<typeAlias alias="schedule" type="com.saerok.jy.schedule.dto.Schedule"/>
		<typeAlias alias="commute" type="com.saerok.jy.commute.dto.Commute"/>
		
		
		<!-- 정재  -->
		<typeAlias alias="approval" type="com.saerok.jj.apv.model.dto.Approval"/>
		<typeAlias alias="apvRef" type="com.saerok.jj.apv.model.dto.ApvRef"/>
		<typeAlias alias="apvWriter" type="com.saerok.jj.apv.model.dto.ApvWriter"/>
		<typeAlias alias="appCash" type="com.saerok.jj.apv.model.dto.AppCash"/>
		<typeAlias alias="appLeave" type="com.saerok.jj.apv.model.dto.AppLeave"/>
		<typeAlias alias="appLetter" type="com.saerok.jj.apv.model.dto.AppLetter"/>

		<!-- 도영 -->
      <typeAlias alias="note" type="com.saerok.dy.note.model.dto.Note" />
      <typeAlias alias="board" type="com.saerok.dy.board.model.dto.Board" />



	</typeAliases>

</configuration>